---
import products from '../data/products.json';
import BaseLayout from "../layouts/BaseLayout.astro";
import CategoryBar from "../components/CategoryBar.astro";
import ProductCard from "../components/ProductCard.astro";

const categories = Array.from(new Set(products.map(p=>p.category))).sort();
---
<BaseLayout title="BeelGo Shop">
  <CategoryBar categories={categories} />
  <section class="container">
    <div class="grid">
      {products.map(p => <ProductCard product={p} />)}
    </div>
  </section>
</BaseLayout>
